asgiref==3.8.1
black==25.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
Django==5.2.2
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
psycopg2-binary==2.9.9
PyJWT==2.9.0
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
stripe==12.2.0
typing_extensions==4.14.0
urllib3==2.5.0
psycopg2-binary==2.9.9
